.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}