* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    width: 400px;
    margin: 100px auto auto auto;
    border: 2px solid tomato;
    padding: 16px;
}

.header {
    margin-bottom: 20px;
}

.header__text {
    font-size: 20px;
    color: dodgerblue;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.input__label {
    margin-right: 20px;
    font-weight: bold;
}

.input {
    padding: 4px 8px;
}

.generator__btn {
    padding: 4px 8px;
}

.result__label, .result__text {
    font-weight: bold;
}

.result__label {
    margin-right: 4px;
}